{% extends 'base.html.twig' %}

{% block mainContent %}
    {% if message is defined %}
    <div>
        <h2>{{ message }}</h2>
        <div class='product_name_edit_row'>
            <div class='product_name'>
                <a href="{{ path('profile') }}">Add new product</a>
            </div>
            <div class='product_edit_delete'>
                <a href="{{ path('homepage') }}">Home</a>
            </div>
        </div>
    </div>
    {% else %}
    <div>
        <h1>Edit product</h1>
        {{ form_start(editProduct) }}
        {{ form_widget(editProduct) }}
        {{ form_end(editProduct) }}
    </div>
    {% endif %}
{% endblock %}
{% block leftContent %}
<div>
    <h1>Product Info</h1>
    <div class='product_name_edit_row'>
        <div class='product_name col'>
            <p><b>Name</b></p> {{ product.name }}<br><br>
            <a href="{{ path('product_preview', {'id': product.id}) }}">Preview</a>
        </div>
        <div class='product_comment'>
            <p><b>Comment</b></p> {{ product.comment }}
        </div>
        <div class='product_price'>
            <p><b>Price</b></p>{{ product.price }} $<br><br>
            <a href="{{ path('profile_delete', {'id': product.id}) }}">Delete</a>
        </div>
    </div>
</div>
{% endblock %}
{% block rightContent %}
<div>
    <h1>Product Images</h1>
    {% if messageImage is defined %}
    <div>
        <h2>{{ messageImage }}</h2>
    </div>
    {% else %}
    <div class="product_photo photo">
        {% for productImage in productImages %}
            <div>
                <img src="{{ productImage.imagePath }}"/>
                <a href="{{ path('profile_edit_delete_image', {'id': productImage.id}) }}">Delete image</a>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}