{% extends 'base.html.twig' %}

{% block leftContent %}
    <h2>Filters:</h2>
    {{ form_start(filter) }}
    {{ form_widget(filter) }}
    {{ form_end(filter) }}
{% endblock %}

{% block mainContent %}
        {% for product in products  %}
<div class='product_list_row'>

          {% block product %}
              <div class='product_photo'>
                  {% for productImage in productImages %}
                      {% if productImage.productID == product.id  %}
                          <a href="{{ path('product_preview', {'id': product.id}) }}"><img src='{{ productImage.imagePath }}'/></a>
                      {% endif %}
                  {% endfor %}
              </div>
            <div class='product_name_edit_row'>
                <div class='product_name'>
                    Name: <a href="{{ path('product_preview', {'id': product.id}) }}">{{ product.name }}</a>
                </div>
                {% if is_granted('ROLE_USER') %}
                <div class='product_edit_delete'>
                    <a href="{{ path('profile_edit', {'id': product.id}) }}">Edit</a>
                </div>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <div class='product_edit_delete'>
                    <a href="{{ path('profile_delete', {'id': product.id}) }}">Delete</a>
                </div>
                {% endif %}
            </div>
            <div class='product_comment'>
                    Comment: {{ product.comment }}
            </div>
              <div class='product_price_button'>
                  <div class='product_price'>
                      Price: {{ product.price }}$
                  </div>
              </div>
            {% endblock %}

</div>
        {% endfor %}
    {% endblock %}

{% block rightContent %}
<h2>Silent is GOLD!</h2>
{% endblock %}
