{% extends 'base.html.twig' %}
{% block main %}
<div>
    <div class="product_photo photo">
        <div>
            <img src='{{ productImage.imagePath }}'/>
        </div>
    </div>
    <div class='product_name_edit_row'>
        <div class='product_name col'>
            <p><b>Name</b></p> {{ product.name }}<br><br>
            <a href="{{ path('homepage') }}">Back</a>
        </div>
        <div class='product_comment'>
            <p><b>Comment</b></p> {{ product.comment }}
        </div>
        <div class='product_price'>
            <p><b>Price</b></p>{{ product.price }} $<br><br>
            <a href='#'>Add Basket</a>
        </div>
    </div>
{% endblock %}