{% extends 'base.html.twig' %}
{% block mainContent %}
<div>
    <div class="product_photo photo">
        {% if messageImage is defined %}
        <div>
            <h2>{{ messageImage }}</h2>
        </div>
        {% else %}
        {% for productImage in productImages %}
        <div>
            <img src="{{ productImage.imagePath }}"/>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class='product_name_edit_row'>
        <div class='product_name col'>
            <p><b>Name</b></p> {{ product.name }}<br><br>
            <a href="{{ path('homepage') }}">Back</a>
        </div>
        <div class='product_comment'>
            <p><b>Comment</b></p> {{ product.comment }}
        </div>
        <div class='product_price'>
            <p><b>Price</b></p>{{ product.price }} $<br><br>
            <a href="{{ path('add_basket', {'id': product.id}) }}">Add Basket</a>
        </div>
    </div>
</div>
{% endblock %}