{% extends 'base.html.twig' %}

{% block mainContent %}
    <div>

        <div class='basket'>
            {% if message is defined %}
            <h2>{{ message }}</h2>
            {% else %}
                {% for productInfo in basketProductInfo %}
                    <div class='product_list_row row'>
                        <div class='product_photo col'>
                            {% for productImage in basketProductPhoto %}
                                {% for image in productImage %}
                                    {% if image.productID == productInfo.id  %}
                                        <img src='{{ image.imagePath }}'/>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class='product_name col'>
                            <a href="{{ path('product_preview', {'id': productInfo.id}) }}">{{ productInfo.name }}</a>
                        </div>
                        <div class='product_comment col'>
                            {{ productInfo.comment }}
                        </div>
                        <div class='product_price col'>
                            {{ productInfo.price }} $
                        </div>
                        <div class='product_price col'>
                            <a href="{{ path('delete_product_basket', {'id': productInfo.id}) }}">Remove from basket</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class='basket_total'>
            <h1>Basket</h1>
            <h2>Your choice:</h2>
            <b>Total: {{ sum|default("0") }} $</b>
        </div>
    </div>
{% endblock %}